.container{
    color: var(--secondary-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    gap: 10px;
    height: calc(100vh - 48.8px);
}

.input{
    width: 350px;
}

input[type=text] {
    width: 100%;
    padding: 6px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
}

input[type=password] {
    width: 100%;
    padding: 6px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
}