/* style.css */
:root {
    --primary-bg-color: #EF961A;
    --secondary-bg-color: #006D77;
}

body {
    box-sizing: border-box;
    background-color: var(--primary-bg-color);
    font-family: 'Carter One', cursive;
    margin: 0;
    padding: 0;
}

header {
    color: var(--primary-bg-color);
    background-color: var(--secondary-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

header a {
    color: var(--primary-bg-color);
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

.trajets {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #6e0b14;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.btn-ajouter {
    display: inline-block;
    background-color: var(--secondary-bg-color);
    color: var(--primary-bg-color);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.btn-ajouter:hover {
    background-color: #004d57;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 3px solid var(--secondary-bg-color);
}

th {
    background-color: #6e0b14;
    color: var(--primary-bg-color);
    text-shadow: 2px 2px 4px black;
}

td {
    color: var(--primary-bg-color);
}

table td:last-child {
    text-align: center;
}

/* Icône d'édition */
.fas.fa-edit {
    color: var(--primary-bg-color);
}

/* Icône de suppression */
.fas.fa-trash-alt {
    color: red;
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    color: var(--secondary-bg-color);
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.pagination a:hover {
    background-color: var(--secondary-bg-color);
    color: var(--primary-bg-color);
}

.pagination a.active {
    background-color: var(--secondary-bg-color);
    color: var(--primary-bg-color);
}
