header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
}

.connect {
    order: 1;
    align-items: start;
}

.title {
    order: 2;
    margin: auto;
}